adf-formacion2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-formacion2"
		},
		"DB_Formacion_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"DB_Formacion\""
		},
		"Formacion3_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"Formacion3\""
		},
		"SqlServer1_OnPremise_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"SqlServer1_OnPremise\""
		},
		"databricks_formacion_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"databricks_formacion\""
		},
		"AzureKeyVault_FJM_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvaultfjm.vault.azure.net/"
		},
		"Formacion3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://formacion3.dfs.core.windows.net/"
		},
		"databricks_formacion_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1116-153229-38p0y73u"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_FJM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_FJM_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_Formacion')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DB_Formacion_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Formacion3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Formacion3_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Formacion3_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1_OnPremise')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_OnPremise_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricks_formacion')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4225316818721842.2.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('databricks_formacion_accessToken')]"
					},
					"existingClusterId": "[parameters('databricks_formacion_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_Notebooks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pasaje Bronze a Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/Prueba Integrador ADF/Pasaje: Bronze a Silver"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Pasaje Silver a SQL",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pasaje Bronze a Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/Prueba Integrador ADF/Pasaje: Silver a SQL"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Prueba Integral"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T17:59:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_formacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipelines_Notebooks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pje de Bronze a Trusted",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Pje Bronze a Trusted"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Caso de Uso 1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pje de Bronze a Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Caso de Uso 1"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Caso de Uso 2",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pje de Bronze a Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Caso de Uso 2"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Caso de Uso 3",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pje de Bronze a Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Caso de Uso 3"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Caso de Uso 4",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pje de Bronze a Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Caso de Uso 4"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Caso de Uso 5",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Pje de Bronze a Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Miquelarena/ADF-NBA/Caso de Uso 5"
						},
						"linkedServiceName": {
							"referenceName": "databricks_formacion",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ADF-NBA"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-28T15:16:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_formacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CarsCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Cars"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cars.csv",
						"folderPath": "Imput",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Make",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "DriveTrain",
						"type": "String"
					},
					{
						"name": "Length",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CarsTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Formacion",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Cars"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Make",
						"type": "nvarchar"
					},
					{
						"name": "Model",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "Origin",
						"type": "nvarchar"
					},
					{
						"name": "DriveTrain",
						"type": "nvarchar"
					},
					{
						"name": "Length",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Cars"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Formacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Characters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Simpson"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "simpsons_characters.csv",
						"folderPath": "Simpsons/Bronze",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "normalized_name",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CharactersSalida')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Simpson"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Characters.csv",
						"folderPath": "Simpsons/Silver/Characters",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Circuits')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Formacion",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "circuitId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "circuitRef",
						"type": "nvarchar"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "lat",
						"type": "real",
						"precision": 7
					},
					{
						"name": "lng",
						"type": "real",
						"precision": 7
					},
					{
						"name": "alt",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "circuits"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Formacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Csv_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"zone": {
						"type": "string"
					},
					"folder_origen": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Parametrizacion"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().zone, '/', dataset().folder_origen)",
							"type": "Expression"
						},
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "circuitId",
						"type": "String"
					},
					{
						"name": "circuitRef",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "lat",
						"type": "String"
					},
					{
						"name": "lng",
						"type": "String"
					},
					{
						"name": "alt",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Csv_files_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"zone": {
						"type": "string"
					},
					"folder_origen": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().zone, '/', dataset().folder_origen)",
							"type": "Expression"
						},
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Csv_files_3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"zone": {
						"type": "string"
					},
					"folder_destino": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"folder_destino_2": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().zone, '/', dataset().folder_destino,'/',dataset().folder_destino_2)",
							"type": "Expression"
						},
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Episodes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Simpson"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "simpsons_episodes.csv",
						"folderPath": "Simpsons/Bronze",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "image_url",
						"type": "String"
					},
					{
						"name": "imdb_rating",
						"type": "String"
					},
					{
						"name": "imdb_votes",
						"type": "String"
					},
					{
						"name": "number_in_season",
						"type": "String"
					},
					{
						"name": "number_in_series",
						"type": "String"
					},
					{
						"name": "original_air_date",
						"type": "String"
					},
					{
						"name": "original_air_year",
						"type": "String"
					},
					{
						"name": "production_code",
						"type": "String"
					},
					{
						"name": "season",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "us_viewers_in_millions",
						"type": "String"
					},
					{
						"name": "video_url",
						"type": "String"
					},
					{
						"name": "views",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EpisodesScriptSalida')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Simpson"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EpisodesScrips.csv",
						"folderPath": "Simpsons/Silver/EpisodesScript",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Games')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "games.csv",
						"folderPath": "ADF-NBA/DATASET",
						"fileSystem": "miquelarena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GAME_DATE_EST",
						"type": "String"
					},
					{
						"name": "GAME_ID",
						"type": "String"
					},
					{
						"name": "GAME_STATUS_TEXT",
						"type": "String"
					},
					{
						"name": "HOME_TEAM_ID",
						"type": "String"
					},
					{
						"name": "VISITOR_TEAM_ID",
						"type": "String"
					},
					{
						"name": "SEASON",
						"type": "String"
					},
					{
						"name": "TEAM_ID_home",
						"type": "String"
					},
					{
						"name": "PTS_home",
						"type": "String"
					},
					{
						"name": "FG_PCT_home",
						"type": "String"
					},
					{
						"name": "FT_PCT_home",
						"type": "String"
					},
					{
						"name": "FG3_PCT_home",
						"type": "String"
					},
					{
						"name": "AST_home",
						"type": "String"
					},
					{
						"name": "REB_home",
						"type": "String"
					},
					{
						"name": "TEAM_ID_away",
						"type": "String"
					},
					{
						"name": "PTS_away",
						"type": "String"
					},
					{
						"name": "FG_PCT_away",
						"type": "String"
					},
					{
						"name": "FT_PCT_away",
						"type": "String"
					},
					{
						"name": "FG3_PCT_away",
						"type": "String"
					},
					{
						"name": "AST_away",
						"type": "String"
					},
					{
						"name": "REB_away",
						"type": "String"
					},
					{
						"name": "HOME_TEAM_WINS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Formacion3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"zone": {
						"type": "string"
					},
					"folder_destino": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"folder_destino_2": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Parametrizacion"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().zone, '/', dataset().folder_destino, '/', dataset().folder_destino_2)",
							"type": "Expression"
						},
						"fileSystem": "miquelarena"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Formacion3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Races')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Formacion",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "raceId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "round",
						"type": "int",
						"precision": 10
					},
					{
						"name": "circuitId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "race"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Formacion')]"
			]
		}
	]
}