pipeline/Pipeline_ADF-NBA_Executes.json
{
	"name": "Pipeline_ADF-NBA_Executes",
	"properties": {
		"activities": [
			{
				"name": "Execute Ingestas CSV",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pipeline_Ingestas_csv",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"cta_almacenamiento": {
							"value": "@pipeline().parameters.cta_almacenamiento",
							"type": "Expression"
						},
						"folder_destino": {
							"value": "@pipeline().parameters.folder_destino",
							"type": "Expression"
						},
						"folder_destino_games": {
							"value": "@pipeline().parameters.folder_destino_games",
							"type": "Expression"
						},
						"folder_destino_teams": {
							"value": "@pipeline().parameters.folder_destino_teams",
							"type": "Expression"
						},
						"folder_destino_ranking": {
							"value": "@pipeline().parameters.folder_destino_ranking",
							"type": "Expression"
						},
						"folder_destino_players": {
							"value": "@pipeline().parameters.folder_destino_players",
							"type": "Expression"
						},
						"folder_destino_games_d": {
							"value": "@pipeline().parameters.folder_destino_games_d",
							"type": "Expression"
						},
						"Games": {
							"value": "@pipeline().parameters.Games",
							"type": "Expression"
						},
						"Teams": {
							"value": "@pipeline().parameters.Teams",
							"type": "Expression"
						},
						"Ranking": {
							"value": "@pipeline().parameters.Ranking",
							"type": "Expression"
						},
						"Players": {
							"value": "@pipeline().parameters.Players",
							"type": "Expression"
						},
						"Games_details": {
							"value": "@pipeline().parameters.Games_details",
							"type": "Expression"
						},
						"folder_origen": {
							"value": "@pipeline().parameters.folder_origen",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Mail Confirmacion Error de Ingesta",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Ingestas CSV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/b6534bc7e6404ef3ba13b81099875cf3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VXPcNF2pfqkTCnKZO26SbLIb2Lc0MNCBu5_vY2UC5PM",
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE EJECUTADO CON ERROR\",\n\"messaje\": \"@{activity('Execute Ingestas CSV').error.message}\",\n\"color\": \"RED\",\n\"datafactoryName\": \"@{pipeline().DataFactory}\",\n\"pipelineName\": \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"time\": \"@{utcnow()}\",\n\"trigger\":\"@{pipeline().TriggerName}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Notebooks",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Ingestas CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pipelines_Notebooks",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Mail Confirmacion Error de Proceso",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Notebooks",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/b6534bc7e6404ef3ba13b81099875cf3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VXPcNF2pfqkTCnKZO26SbLIb2Lc0MNCBu5_vY2UC5PM",
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE EJECUTADO CON ERROR\",\n\"messaje\": \"@{activity('Execute Notebooks').error.message}\",\n\"color\": \"RED\",\n\"datafactoryName\": \"@{pipeline().DataFactory}\",\n\"pipelineName\": \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"time\": \"@{utcnow()}\",\n\"trigger\":\"@{pipeline().TriggerName}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mail Confirmacion Proceso OK",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Notebooks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/b6534bc7e6404ef3ba13b81099875cf3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VXPcNF2pfqkTCnKZO26SbLIb2Lc0MNCBu5_vY2UC5PM",
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE EJECUTADO CORRECTAMENTE\",\n\"messaje\": \"DEMO PIPELINE EJECUTADO CON EXITO\",\n\"color\": \"GREEN\",\n\"datafactoryName\": \"@{pipeline().DataFactory}\",\n\"pipelineName\": \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"time\": \"@{utcnow()}\",\n\"trigger\":\"@{pipeline().TriggerName}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"cta_almacenamiento": {
				"type": "string",
				"defaultValue": "ADF-NBA"
			},
			"folder_destino_games": {
				"type": "string",
				"defaultValue": "Games"
			},
			"folder_destino_teams": {
				"type": "string",
				"defaultValue": "Teams"
			},
			"folder_destino_ranking": {
				"type": "string",
				"defaultValue": "Ranking"
			},
			"folder_destino_players": {
				"type": "string",
				"defaultValue": "Players"
			},
			"folder_destino_games_d": {
				"type": "string",
				"defaultValue": "Games_Details"
			},
			"Games": {
				"type": "string",
				"defaultValue": "games.csv"
			},
			"Teams": {
				"type": "string",
				"defaultValue": "teams.csv"
			},
			"Ranking": {
				"type": "string",
				"defaultValue": "ranking.csv"
			},
			"Players": {
				"type": "string",
				"defaultValue": "players.csv"
			},
			"Games_details": {
				"type": "string",
				"defaultValue": "games_details.csv"
			},
			"folder_origen": {
				"type": "string",
				"defaultValue": "DATASET"
			},
			"folder_destino": {
				"type": "string",
				"defaultValue": "BRONZE"
			}
		},
		"folder": {
			"name": "ADF-NBA"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-23T12:30:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}